body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #29030e;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
}

header {
    /* background-color: #fff; */
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #420a1b;
    color: #746e6e;
    border-radius: 12px;
    border: none;
}

.logo img{
    height: 45px;
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input {
    width: 30%;
    padding: 8px;
    background: #751f49;
    border: none;
    border-radius: 10px;
}

.user-actions a {
    margin-left: 20px;
    text-decoration: none;
    color: #d16b94;
    font-weight: 400;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.post {
    margin: 10px;
}

.post img {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
}

.caption {
    margin-top: 10px;
    color: #f5f5f5;
}

footer {
    background-color: #000000;
    border-top: 1px solid #312d2d;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links a {
    margin-right: 10px;
    text-decoration: none;
    color: #746e6e;
}

.footer-copy {
    font-size: 0.8rem;
    color: #888;
}
